* {
  margin: 0;
  padding: 0;
  display: flex;
}

.search {
  margin: 10px;
  width: 400px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: 350px;
}
