.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: antiquewhite;
  border: 2px solid;
}

button {
  margin: 10px;
  cursor: pointer;
}

.likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.likes span {
  width: 70px;
}

.fav-buttons button {
  width: 140px;
  height: 40px;
}
